@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<!-- START panel-->
<div id="panelDemo13" class="panel panel-default">
    <div class="panel-heading">Rozwijane</div>
    
    <div class="panel-body">
        <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div id="headingOne" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><h2>Getting started</h2></a>
                            </h4>
                        </div>
                        <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst 
                                tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst 
                                tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst 
                                tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                                    <div class="panel panel-default">
                        <div id="headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"><h2>Get more libraries</h2></a>
                            </h4>
                        </div>
                        <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div id="headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed"><h2>Web Hosting</h2></a>
                            </h4>
                        </div>
                        <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                    enables a clean separation of concerns and gives you full control over markup
                                    for enjoyable, agile development.
                                </p>
                                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            
           
        </div>
    </div>
</div>
<!-- END panel-->
